*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Luckiest Guy";
  src: url(assets//Fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf)
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* gap: 20px; */
  height: 100vh;
  font-family: "Luckiest Guy";
  /* position: relative; */
}

/* body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/img/blue\ background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(5px) brightness(0.8);
  opacity: 0.85;
} */

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  text-transform: uppercase;
  font-size: 48px;
  z-index: 2;
}

main {
  position: relative;
  width: 720px;
  height: 480px;
}

.start-screen {
  background-image: url("assets//img//9_intro_outro_screens/start/startscreen_1.png");
  background-size: cover;
  background-position: center center;
  width: 720px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* position: relative; */
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 20px 0 0 20px;
}

#contents {
  visibility: hidden;
  background-color: white;
  width: 65%;
  height: 55%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

#gameBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

#gameBtns button {
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 10px;
  border-radius: 5px;
  color: #ffc300;
  text-transform: uppercase;
  font-weight: bold;
  border-color: #ffc300;
  border-width: 3px;
  font-family: "Luckiest Guy";
}

.content-text ul li {
  list-style-type: none;
  line-height: 28px;
}

#gameBtns button:nth-child(1) {
  background-color: #c40c0c;
}

#gameBtns button:nth-child(2) {
  background-color: #480505;
}

#gameBtns button:nth-child(3) {
  background-color: #911919;
}

#gameBtns button:nth-child(4) {
  background-color: #6d0404;
}

.configBtns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.configBtns button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  /* background-color: #ffc300; */
  background-color: white;
  font-size: 16px;
  padding: 6px;
  border-radius: 50%;
  display: block;
  text-align: center;
}

.audio-btn img {
  width: 100%;
  height: 100%;
}

/* .configBtns .unaudio-btn {
  display: none;
} */

.canvas-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.canvas-btns {
  position: absolute;
  top: 20px;
  right: 20px;
  /* width: 100%;
  height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.canvas-btns button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  /* background-color: #ffc300; */
  background-color: white;
  font-size: 16px;
  padding: 6px;
  border-radius: 50%;
  display: block;
  text-align: center;
}

#myCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* visibility: hidden; */
  background-color: #000000;
}

#win-lose-screen {
  width: 720px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
