*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Luckiest Guy";
  src: url(assets//Fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf)
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: "Luckiest Guy";
  gap: 30px;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/img/blue\ background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(5px) brightness(0.8);
  opacity: 0.85;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  text-transform: uppercase;
  font-size: 48px;
  z-index: 2;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  width: 80%;
  height: 80vh;
}

main.hidden {
  display: none;
}

:fullscreen::backdrop {
  background-color: transparent;
}

:fullscreen body {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: transparent;
}

:fullscreen body::before {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: transparent;
}

.start-screen {
  /* width: 720px;
  height: 480px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  position: relative;
}

.start-screen.hidden {
  display: none !important;
}

.start-screen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btns {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 20px 20px 0;
  z-index: 100;
}

#controls-btn.hidden {
  display: none;
}

#modal-content {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#contents {
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 65%;
  height: 60%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  align-items: center;
  gap: 16px;
  padding: 20px;
}

.content-text ul li {
  list-style-type: none;
  line-height: 28px;
}

.content-text p {
  margin: 8px 0;
}

.content-text h3 {
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 4px;
}

#gameBtns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

#gameBtns button {
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 10px;
  border-radius: 5px;
  color: #ffc300;
  text-transform: uppercase;
  font-weight: bold;
  border-color: #ffc300;
  border-width: 3px;
  font-family: "Luckiest Guy";
}

#gameBtns button:nth-child(1) {
  background-color: #c40c0c;
}

#gameBtns button:nth-child(2) {
  background-color: #480505;
}

#gameBtns button:nth-child(3) {
  background-color: #911919;
}

#gameBtns button:nth-child(4) {
  background-color: #6d0404;
}

.configBtns {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.configBtns button {
  cursor: pointer;
  width: 40px;
  height: 40px;

  background-color: white;
  font-size: 16px;
  padding: 6px;
  border-radius: 50%;
  display: block;
  text-align: center;
  transition: all 150ms linear;
}

.configBtns button:hover {
  background-color: #ffc300;
}

.audio-btn img {
  width: 100%;
  height: 100%;
}

.canvas-container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.canvas-container.hidden {
  display: none !important;
}

.canvas-btns {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.canvas-btns button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: white;
  font-size: 16px;
  padding: 6px;
  border-radius: 50%;
  display: block;
  text-align: center;
  transition: all 150ms linear;
}

.canvas-btns button:hover {
  background-color: #ffc300;
}

#myCanvas {
  position: absolute;
  /* top: 0;
  left: 0; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  /* background-color: #000000; */
}

#win-lose-screen {
  background: transparent;
  position: relative;
  /* width: 720px;
  height: 480px; */
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  justify-content: center;
  align-items: center;
}

#win-lose-screen.hidden {
  display: none !important;
}

#win-lose-screen img {
  width: 80%;
  height: 85%;
  /* object-fit: cover; */
}

.touchBtns {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  gap: 400px;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
}

.touchBtns.hidden {
  display: none;
}

.touchBtns button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: white;
  font-size: 24px;
  padding: 6px;
  border-radius: 50%;
  display: block;
  text-align: center;
  transition: all 150ms linear;
}
.touchBtns button:hover {
  background-color: #ffc300;
}

.touchBtns #leftSide,
.touchBtns #rightSide {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

#orientationOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#orientationOverlay.hidden {
  display: none;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 80vw;
  height: 60vh;
}

.mobileRoration {
  font-size: 60px;
  color: #000;
  animation: rotate 1.5s linear infinite;
}

.modal-text {
  font-size: 24px;
  color: #000;
}

/* #modal-content.hidden {
  visibility: hidden;
} */

.flex {
  display: flex;
}

.padding {
  padding: 20px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@media screen and (min-width: 1024px) {
  .touchBtns {
    display: none;
  }

  #orientationOverlay {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  header h1 {
    display: none;
  }
  main {
    width: 100vw;
    height: 100vh;
    aspect-ratio: 3/2;
  }
  .start-screen {
    width: 100%;
    height: 100%;
  }

  #contents .content-text ul li {
    line-height: 24px;
  }

  #win-lose-screen {
    width: 100%;
    height: 100%;
  }
  .touchBtns {
    display: flex;
    gap: 200px;
  }
  #gameBtns button {
    font-size: 13px;
  }
  .btns {
    padding-left: 35px;
  }
}

@media screen and (max-width: 767px) {
  body {
    height: 100vh;
    padding-top: 0;
    margin-top: 0;
    justify-content: flex-start;
    gap: 0;
  }

  header h1 {
    display: none;
  }
  main {
    width: 100vw;
    height: 100vh;
    aspect-ratio: 3/2;
  }
  .start-screen {
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  #win-lose-screen {
    width: 100%;
    height: 100%;
  }
  #win-lose-screen img {
    width: 100%;
    height: 100%;
  }
  #gameBtns {
    gap: 8px;
  }
  #gameBtns button {
    font-size: 12px;
    padding: 4px;
    letter-spacing: 0;
    text-transform: none;
    min-width: 86px;
  }

  .configBtns {
    right: -60px;
  }

  .configBtns button {
    width: 35px;
    height: 35px;
    font-size: 12px;
  }

  .configBtns button:nth-child(2) {
    display: none;
  }

  .btns {
    position: absolute;
    top: 0;
    padding-top: 20px;

    width: 80%;
    flex-wrap: wrap;
  }
  .touchBtns {
    gap: 180px;
    bottom: -5px;
  }
  .touchBtns button {
    width: 35px;
    height: 35px;
    font-size: 14px;
  }

  #myCanvas {
    width: 100%;
    height: 100%;
  }
  .canvas-btns {
    top: 8px;
    gap: 4px;
  }
  .canvas-btns button {
    width: 30px;
    height: 30px;
  }

  .canvas-btns button:nth-child(2) {
    display: none;
  }

  #contents {
    width: 70%;
    height: 70%;
    gap: 12px;
    margin-top: 20px;
  }

  #contents .header {
    font-size: 16px;
  }

  #contents .content-text ul li {
    list-style-type: none;
    font-size: 14px;
    line-height: 18px;
  }
}
